body { 
    background-color: #660000;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: ;
}
h3{ 
    text-align: center;
    color: #F5DEB3;
}
img { 
    width: 200px; 
    height: 200px;
} 
