body { 
    background: url(katspilde.github.io/2249112-watercolor-wallpaper.jpg) no-repeat center center;
    background-size: cover;
    
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: ;
}
h3{ 
    text-align: center;
    color: #F5DEB3;
}
img { 
    width: 200px; 
    height: 200px;
} 
